@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Share Styles */

.display-flex {
  display: flex;
}

/* dark02 */
.dark2 {
  color: #424242;
}

/* dark03 */
.dark3 {
  color: #727272;
}

/* Primary BG color */

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Primary-Btn */

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.15rem;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Navbar Styles */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Styles */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
}

.banner-image {
  width: 100%;
  margin-bottom: 45px;
}

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
  .nav-links {
    flex-direction: row;
  }
  .brand {
    font-size: 2rem;
  }
  .banner-title {
    font-size: 3rem;
  }
}

/* Main Styles */

.teams {
  display: flex;
  margin-top: 85px;
  gap: 72px;
  align-items: center;
  margin-bottom: 130px;
}

.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.teams-title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 24px;
}

.teams-description {
  margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
  .teams {
    flex-direction: column;
  }
  .teams-title {
    margin-top: 0px;
  }
  .image {
    width: 100%;
  }
  .team-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-feature {
    padding: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-feature {
    padding: 20px;
  }
  .brand {
    font-size: 2.5rem;
  }
  .banner-title {
    font-size: 3.5rem;
  }
  .nav-item {
    margin-right: 20px;
  }
}

/* Features Enjoy Section Style */

.enjoys{
    display: flex;
    gap:145px;
    margin-bottom: 130px;
}

.enjoy-description{
    margin-bottom: 30px;
}

.enjoy-about{
    box-shadow: 0px 4px 30px 0px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
    opacity: .6;
}

/* Media Section Style */


@media screen and (max-width: 576px) {
    .enjoys{
        flex-direction: column;
        gap: 50px;
    }
    .enjoy-image{
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    .enjoys{
        flex-direction: column;
        gap: 50px;
    }
    .enjoy-image{
        width: 100%;
    }
}

/* Some Facts Section Style */

.facts-description{
    margin-top: 24px;
}
.facts-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
    margin-top: 80px;
    margin-bottom: 130px;
}

.facts-about{
    border: 1px solid #ff900e;
    border-radius: 8px;
    width: 241px;
    height: 241px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.facts-number{
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.facts-title{
    font-size: 1.2rem;
    margin-top: 5px;
    color: #424242;
}

/* Media Screen Style */

@media screen and (max-width: 576px) {
    .facts-item{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    .facts-about{
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    .facts-item{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .facts-about{
        width: 100%;
    }
}

/* Sponsors Section Style */

.sponsors{
  margin-bottom: 150px;
  text-align: center;
}
.sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align:center;
}

.sponsor-companies{
  display: flex;
  justify-content: space-between;
}

.sponsor-companies img{
  filter: grayscale(100%);
}

.sp-description{
  background-color: #FFF4E7;
  margin-top: 130px;
  padding: 30px;
  border-radius: 8px;
}